{% extends 'base.html' %}

{% block title %}Doctor{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="alert alert-info text-center ">
           <h2>Appointment For Today</h2>
    </div>
   
    <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Contact</th>
          <th>Reason</th>
          <th>Appointment Date</th>
          <th>Slot</th>
          <th>Appintment Status</th>
        </tr>
        {% for i in data %}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.age}}</td>
          <td>{{i.contact}}</td>
          <td>{{i.reason}}</td>
          <td>{{i.date}}</td>
          <td>{{i.slot}}</td>
          <td>
            <a href="{% url 'done' i.id %}" class="btn btn-success">Pending</a>
          </td>
        </tr>
        {% endfor %}
      </table>
</div>

{% endblock %}