{% extends 'base.html' %}

{% block title %} Sign Up  {% endblock %}


{% block content %}

<div class="container mt-5">
    {% if messages %}
    {% for i in messages %}
      <h1 class="alert alert-danger text-center text-primary">{{i}}</h1>
    {% endfor %}
    {% else %}
    <h1 class="alert alert-warning text-center text-danger">User Login/Patient Login</h1>
     {% endif %}

    <div class="row">
        <div class="col-lg-6">
            <form action="" method="post">
                {% csrf_token %}
                username:<input type="text" class="form-control" name="uname" />
                email:<input type="email" class="form-control" name="email" />
                password :<input type="password" class="form-control" name="pass" />
                <input type="submit" value="Sign Up" class="btn btn-success" />
            </form>

        </div>
        <div class="col-lg-6">
            <form action="{% url 'userlogin' %}" method="post">
                {% csrf_token %}
                username:<input type="text" name="uname" class="form-control" />
                password:<input type="password" name="pass" class="form-control" />
                <input type="submit" value="Login" class="btn btn-warning" />

            </form>
        </div>
    </div>
</div>

{% endblock %}